.bg-container {
  background-color: #246db6;
  height: 100vh;
}
 
.guess-game-img {
  width: 100%;
}
 
.game-description {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  color: #323f4b;
  margin-top: 20px;
}
 
.guess-bg-container {
  background-color: #246db6;
  padding-bottom: 30px;
  padding-top: 30px;
}
 
.guess-heading {
  font-family: "Roboto";
  font-weight: bold;
  color: white;
  font-size: 34px;
}
 
.guess-number-image {
  width: 50px;
}
 
.user-input {
  width: 300px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 30px;
  color: #1f2933;
  padding: 10px;
  text-align: center;
}
 
.game-result {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  padding: 10px;
}
 
.check-guess {
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  width: 170px;
}